<button (click)="goBack()">Go Back</button>
<button (click)="goHome()">Home</button>


<!-- Routing example 1 -->

<!-- <div *ngFor="let student of students" routerLink="/students/{{student.id}}">
  {{ student.name }}
</div> -->


<!-- Routing example 1 -->

<div class="border">
  <app-student-search
  [students]="students"
  (filteredStudents)="onFilteredStudents($event)"
  >

  </app-student-search>


  <div
    *ngFor="let student of filtered"
    (click)="goToStudent(student.id)"
  >
  {{ student.name }}
  </div>


  <router-outlet></router-outlet>
</div>

